@mixin canvasHex(){
    .hex-btn{

        @include response-to-menu(widesc){
            width: 12vw;
            height: 12vw;
        }
        @include response-to-menu(midtopsc) {
            width: 17vw;
            height: 17vw;
        }
        @include response-to-menu(medsc){
            width: 22vw;
            height: 22vw;
        }
        @include response-to-menu(handsc){
            width: 12vw;
            height: 12vw;
        }

        position: absolute;
        left: 50%;
        top: 50%;
        right: hexSin(30);
        
        @for $i from 1 through 6{
            $angle: 60* $i - 30;
            $x : 100% * hexCos($angle) - 50%;
            $y : 100% * hexSin($angle) - 25%;
            &.hex-#{$i} {
                transform: translate($x, $y);
            }
        }
        

        canvas {
            width: 100%;
            height: 100%;
        }

        &.hex-center{
            left: 50%;
            top: 50%;
            transform: translate(-50%, -25%);
            
            &:hover{
                transform: translate(-50%, -25%) scale(2, 2);
            }
            
        }
    }
}
