@mixin anime($col){
    @if $col == 2 {
        -webkit-transform: translateX(-150%) rotate(-60deg) skewY(30deg);
             -ms-transform: translateX(-150%) rotate(-60deg) skewY(30deg);
                transform: translateX(-150%) rotate(-60deg) skewY(30deg);
        &:hover{
            -webkit-transform: translateX(-150%) rotate(-60deg) skewY(30deg) translatez(-1px) scale(1.1, 1.1);
            -ms-transform: translateX(-150%) rotate(-60deg) skewY(30deg) translatez(-1px) scale(1.1, 1.1);
            transform: translateX(-150%) rotate(-60deg) skewY(30deg) translatez(-1px) scale(1.1, 1.1);
        }
    }
    @else if $col == 3 {
        -webkit-transform: translateX(-200%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(-200%) rotate(-60deg) skewY(30deg);
                transform: translateX(-200%) rotate(-60deg) skewY(30deg);
        &:hover{
            -webkit-transform: translateX(-200%) rotate(-60deg) skewY(30deg) translatez(-1px) scale(1.1, 1.1);
            -ms-transform: translateX(-200%) rotate(-60deg) skewY(30deg) translatez(-1px) scale(1.1, 1.1);
            transform: translateX(-200%) rotate(-60deg) skewY(30deg) translatez(-1px) scale(1.1, 1.1);
        }
    }
}

@mixin transformHex($size){


    .hex-grid{
        .transform-hex{
            height: $size;
            width: $size * 0.8660254;
            position: relative;
            list-style-type: none;
            float: left;
            overflow: hidden;
            outline: 1px solid transparent;
            top: 20%;


            .transform-hex-inner{
                display: block;
                height: 100%;
                width: 100%;
                text-align: center;
                color: #FFF;
                overflow: hidden;

                -webkit-transform: skewY(-30deg) rotate(60deg);
                -ms-transform: skewY(-30deg) rotate(60deg);
                transform: skewY(-30deg) rotate(60deg);
            }

            .transform-hex-content{
                left: -100%;
                right: -100%;
                width: auto;
                height: 150%;
                margin: 0 auto;
            }
            

            &:nth-child(5n+1),
            &:nth-child(5n+2){
                left: 53%;
                @include anime(2);
            }

            &:nth-child(5n+1){
                margin-left: 0.1vw;
                margin-right: 0.4vw;
            }
            
            &:nth-child(5n+3){
                clear: left;
            }

            &:nth-child(5n+4){
                margin-left: 0.4vw;
                margin-right: 0.4vw;
            }

            &:nth-child(5n+3),
            &:nth-child(5n+4),
            &:nth-child(5n+5){
                margin-top: -2.5vw;
                margin-bottom: -2.5vw;
                left: 53%;
                @include anime(3);
            }

            &:nth-child(5n+6){
                clear: left;
            }
        }
        

        .hole{
            visibility: hidden;
        }
    }
}
