@import './lib/Math.scss';
@import './lib/mediaQueries.scss';
@import './hexagon/canvasHex.scss';
@import './hexagon/pureHex.scss';
@import './hexagon/transformHex.scss';
@import './one-page-scroll.scss';
@import './SideBar.scss';

$hex-size: 12vw;
*, *:before, *:after {
    @include boxsizing(); 
}


body {
    background: black;
    margin: 0;

    @include sidebar();
    @include one-page-scroll();

}


