@mixin dotsAnime(){
    & > svg .sidebar-circle{
        animation: dashOut 0.5s linear forwards;
    }
    
    &:hover > svg .sidebar-circle{
        animation: dashIn 0.2s linear forwards;
    }
    
    & > svg .big-dots{
        transition: all 0.2s linear;
        transform: scale(0);
    }       
    
    &:hover > svg .big-dots{
        transition: all 0.2s linear;
        transform: scale(1);
    } 

    & > svg .med-dots{
        transition: all 0.25s linear;
        transform: scale(0);
    }       
    
    &:hover > svg .med-dots{
        transition: all 0.25s linear;
        transform: scale(1);
    }

    & > svg .small-dots{
        transition: all 0.35s ease-out;
        transform: scale(0) rotate(180deg);
    }       
    
    &:hover > svg .small-dots{
        transition: all 0.35s ease-out;
        transform: scale(1) rotate(0deg);
    }

    & > svg .short-bar text{
        transition: all 0.35s ease-in-out;
        transform: translate(300px) scale(0);
    }       
    
    &:hover > svg .short-bar text{
        transition: all 0.35s ease-in-out;
        transform: translate(0) scale(1);
    }       

    @keyframes dashIn{
        to{
            stroke-dashoffset: 0;
        }
    }
    @keyframes dashOut{
        from{
            stroke-dashoffset: 0;
        }
        to{
            stroke-dashoffset: 2000;
        }
    }
}

@mixin shortBar(){
    
    .short-bar{
        stroke-dasharray: 2000;
        stroke-dashoffset: 1970;
        animation: hoverOut 0.3s ease-out forwards;
    }

    .short-bar:hover{
        animation: hoverIn 0.3s ease-out forwards;
    }

    @keyframes hoverIn {
        from{
            stroke-dashoffset: 2000;
        }
        to{
            stroke-dashoffset: 1970;
        }
    }

    @keyframes hoverOut{
        from{
            stroke-dashoffset: 1970;
        }
        to{
            stroke-dashoffset: 2000;
        }
    }
    
}

@mixin sidebar(){
    aside{
        position: fixed;
        z-index: 100;
        width: 100vh;
        height: 100vh;
        transform: translate(-60%);

        @include dotsAnime();
        @include shortBar();

        svg{
            width: 100%;
            height: 100%;

            .sidebar-circle{
                stroke-dasharray: 2000;
                stroke-dashoffset: 2000;
            }


            .med-dots{
                transform-origin: 50% 50%;
            }

            .small-dots{
                transform-origin: -300%;
            }

        }
    }
}
